.btn1{
    display:  inline;
    width: 150px;
}

.dv2{
    width: 85%;
    height: 600px;
    background-color: rgb(2, 2, 33);
    margin: auto;
    border: 1px solid #fff;
    display: flex;
}

.dv1{
    width:290px;
    height: 190px;
    border: 1px solid #fff;
    border-radius: 6px ;
    margin:10px;
    justify-content:space-around;
    background-color: rgb(2, 2, 105);
}

.dv3{
    margin: auto;
    width:320px ;
    margin-top: 5px;
}

.h1{
    text-align: center;
}

.sp1{
    margin:auto;
    width: 50px;
    margin-top: 5px;

}