.h1{
    width: 260px;
    height: 50px;
    margin: auto;
    text-align: center;display: inline-block;
}

.h2{
    background-color: brown;
    border: 3px solid #00f;
    
    width: 360px;
    margin: 10px auto;

}
.form1{
     width: 260px;
    margin: auto;

}
.input1{
    float: right;
    width: 150px;
    height: 26px;
    background-color: rgb(253, 145, 4);
    border-radius: 6px;
}

.lb1{
}

.apdate{margin: auto;
    width: 260px;
    height: 30px;
}

.input2{
    float: right;width: 150px;
    height: 26px;
}
.btn1{
    margin: auto;
    width: 260px;
    height: 26px;
}

.btn2{
    margin: auto;
    margin-top: 10px;
    width: 260px;
    height: 26px;
}

.delete{
    float: right;
    background-color: rgb(22, 52, 62);
}